/.vs
/MultiCalculator/MultiCalculator.Android/bin
/MultiCalculator/MultiCalculator.Android/obj
/MultiCalculator/MultiCalculator.iOS/bin
/MultiCalculator/MultiCalculator.iOS/obj
/MultiCalculator/MultiCalculator/bin
/MultiCalculator/MultiCalculator/obj
